body {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.main-container {
  display: flex;
}

.sidebar {
  flex: 0 0 17%;
  background: #4D394B;
  height: 100vh;
  color: white;
}

.sidebar h3 {
  padding-left: 30px;
  padding-top: 30px;
  opacity: 0.9;
}

.files {
  flex: 0 0 22%;
  height: 100vh;
  border-left: 1px solid #EAEAEB;
}

.files h4 {
  padding-left: 30px;
  padding-top: 10px;
  opacity: 0.9;
}

.container {
  flex-grow: 1;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 85vh;
  overflow-y: scroll;
}

.form {
  position: fixed;
  bottom: 2%;
  width: 90%;
}

.input {
  font-size: 17px;
  outline: none;
  margin-left: 10px;
  width: 60%;
  height: 30px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.submit {
  width: 60px;
  height: 34px;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  margin: 3px;
  text-align: center;
  outline: none;
  color: lightgray;
}

.submit:hover {
  color: grey;
}

#main-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#show-emoji-no {
  font-size: 25px;
  opacity: 0.5;
  width: 30px;
  position: fixed;
  bottom: 2%;
  margin-left: 53%;
}

#show-emoji-no:hover {
  font-size: 28px;
  opacity: 0.9;
  transition-duration: 10ms;
}

#show-emoji-yes {
  font-size: 25px;
  opacity: 0.9;
  position: fixed;
  bottom: 2%;
  margin-left: 53%;
}

.messages {
  display: flex;
}

.message {
  display: flex;
  margin: 10px;
  padding-left:10px;
  font-family: Consolas;
}

.message-body {
  font-size: 18px;
  margin: 5px 0 0 5px;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}

.posted-time {
  opacity: 0.5;
  font-weight: lighter;
  margin: 0 0 0 5px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.emoji-table {
  position: fixed;
  bottom: 7%;
  right: 22%;
  opacity: 0.6;
}
.emoji-table:hover {
  opacity: 0.9;
}

.posted-time {
  opacity: 0.5;
  font-weight: lighter;
  margin: 0 0 0 5px;
}


/* @media(max-width: 992px) {
  .container { width: 700px; }
}

@media(max-width: 768px) {
  .container { width: 500px; }
}

@media(max-width: 480px) {
  .container { width: 350px; }
} */
